---
// Component Imports
import Head from '../components/Head.astro';
import Header from '../components/Header.astro';
import Layout from '../components/Layout.astro';
import BlogPostPreview from '../components/BlogPostPreview.astro';

let title = 'Today I learned';
let url = '../styles/main.scss';

let allPosts = await Astro.fetchContent('./posts/*.md');
allPosts = allPosts.sort((a, b) => new Date(b.publishDate).valueOf() - new Date(a.publishDate).valueOf());
---
<html lang="en">
<head>
    <Head title={title} stylesUrl={url} />
</head>
<body>
    <main>
      <Layout>
        <Header text={title} />

        <section class="preview-list">
          {allPosts.map((p) => <BlogPostPreview post={p} />)}
        </section>
      </Layout>
    </main>
</body>
</html>
